.contener-texto{
    display: flex;
    padding-top: 5rem;
}

.main-container{
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color:aqua ;
    margin: auto;
  
    
}

.output{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: brown;
    margin: auto;
}