body {
    background-color: white;
  }



.main-container{
  display: flex;
  padding-top: 200px;
}  
.container-form{

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 800px;
  margin: auto;
  background-color: whitesmoke;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 20px;
  border-radius: 15px;
}  
.container-form label{

  font-size: 20px;

}


#send{
    color: white;
    background-color: blue;
    border-radius: 4px;
    padding: 10px;
}

#first_name{
    
    width: 75%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
    background-color: white;
    padding: 10px;
 
  }

#last_name{
    
    width: 75%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
    background-color: white;
    padding: 10px;
 
  }

  #email{
    
    width: 75%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
    background-color: white;
    padding: 10px;
 
  }  

#type{
    
    width: 75%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
    background-color: white;
    padding: 10px;
 
  }

  #message{
    
    width: 40%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
    background-color: white;
    padding: 10px;
 
  }

  .white-container {
    background-color: white;
    border: 2px solid white; 
    padding: 25px; 
    width: 400px; 
    margin: 0 auto; 
    border-radius: 10px; 
    height: 450px;
    
}